# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn-deletionError.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# My additions from here
desktop.ini
# Temporary for Linux/Win compatibility, will probably switch to pnpm later
package-lock.json
# Holds API keys
.env
# For certificates
*.pem
# For dev:backend testing
backend/public
