.rx-dialog.playfrens-modal {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    background: none;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    gap: 14px; /* 12px gap + 1px outlines on container and card */

    .pfm-container {
        flex-direction: column;
        background-color: var(--pf-bg-700);
        outline: 1px solid #333;
        border: none;
        border-radius: 20px;
        padding: 0;
        width: fit-content;
        height: calc(var(--pfm-card-width) * 1.5);
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    }

    .pfm-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: calc(var(--pfm-card-width) * 1.5 - 54px); /* 54px for header height */
        position: relative;
        overflow: hidden;
        gap: 12px;
        padding: 12px;
    }

    .pfm-card {
        width: var(--pfm-card-width);
        min-width: var(--pfm-card-width);
        height: calc(var(--pfm-card-width) * 1.5);
        outline: 1px solid #333;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
        --bg-url: url('/public/missing_game_cover.png');
        background-image: var(--bg-url);
        background-size: cover;
        background-position: center;

        .pfm-card-bg {
            position: absolute;
            width: var(--pfm-card-width);
            height: calc(var(--pfm-card-width) * 1.5);
            background-size: cover;
            background-position: center;
            background-image: var(--bg-url);
        }
    }

    .pfm-header {
        position: relative; /* needed for separator shadow */
        width: 100%;
        height: calc(var(--icon-size) + 24px); /* 24px for padding */
        display: grid;
        grid-template-columns: var(--icon-size) 1fr var(--icon-size);
        align-items: center;
        padding: 12px;
        background-color: var(--pf-bg-700);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        z-index: 1;

        .pfm-title {
            font-size: 24px;
            padding: 0 12px;
            color: #fff;
            margin: 0;
            line-height: 1;
            text-align: center;
            font-weight: bold;
            --stroke-color: #333; /* for text-stroke */
        }
    }

    .pfm-header-separator {
        position: relative;
        height: 1px;
        background-color: #333;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    }

    .pfm-body {
        display: flex;
        flex-direction: column;
        margin: 42px;
        height: 100%;
        justify-content: end;
    }

    .pfm-sidebar {
        width: var(--sidebar-width);
        display: flex;
        flex-direction: column;
        gap: 12px;
        z-index: 1;
    }

    .pfm-element {
        /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);*/
        border: solid 1px var(--pf-bg-400);
    }

    .pfm-sidebar-button:hover {
        --bs-btn-active-bg: none;
        background: none;
        outline: 1px solid #80848e;
        color: #fff;
    }

    .pfm-column {
        width: var(--sidebar-width);
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: 12px;
    }
}

.game-note-container {
    background-color: var(--pf-bg-900);
    border-radius: 20px;
    padding-top: 20px;

    .game-note {
        width: 100%;
        height: fit-content;
        flex-shrink: 1;
        background: none;
        right: 0;
        left: 0;
        padding: 12px 20px;
        border: none;
        border-radius: 20px;
        resize: vertical;

        &:focus {
            outline: none;
            outline-offset: -1px;
        }
    }
}
