.embla {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 64px 0;
    --slide-spacing: 1rem;
    --slide-size: 100%;
}
.embla__viewport {
    overflow: hidden;
    width: 100%;
}
.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
}
.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
}
.embla__slide__media {
    box-shadow: inset 0 0 0 0.2rem var(--pf-bg-300);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    user-select: none;
}
.embla__controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}
.embla__button {
    -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--pf-bg-100);
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: opacity(0.75);
    transition: 0.1s ease-in;

    &:hover {
        background-color: rgba(100, 100, 110, 0.5);
        filter: opacity(1);
    }
}
.embla__button:disabled {
    color: var(--pf-fg-900);
}
.embla__button__svg {
    width: 35%;
    height: 35%;
}
