/* radix dropdown menu */
.rx-dropdown-menu {
    --dd-max-height: 500px;
    --dd-padding: 4px;
    max-height: var(--dd-max-height);
    min-width: 150px;
    max-width: 300px;
    overflow-y: hidden;
    background-color: var(--pf-bg-700);
    border: var(--pf-border-700);
    border-radius: 8px;
    padding: var(--dd-padding);
    z-index: 103;

    div[role="menuitem"] {
        display: flex;
        align-items: center;
        font-size: 16px;
        height: 36px;
        padding: 0 14px;
        border-radius: 4px;
        outline: none;
        border: none;
        user-select: none;
        cursor: pointer;

        .item-label {
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }

        &[data-disabled] {
            color: var(--pf-fg-700);
            cursor: inherit;

            &:hover,
            &:focus {
                background-color: inherit;
            }
        }

        &:hover,
        &:focus {
            background-color: var(--pf-bg-300);
        }

        &:active {
            background-color: var(--pf-btn-primary);
        }

        .rx-dropdown-right-slot {
            margin-left: auto;
            margin-right: -6px;
        }

        & svg {
            font-size: 20px;
            margin-right: 8px;
            margin-left: -6px;
        }

        &[data-danger] {
            color: var(--pf-dd-danger-fg);

            &:hover,
            &:focus {
                background-color: var(--pf-dd-danger-hover);
            }

            &:active {
                background-color: var(--pf-dd-danger-active);
                color: var(--pf-dd-danger-fg-active);
            }

            & svg {
                color: inherit;
            }
        }
    }

    div[role="separator"] {
        height: 0;
        flex-shrink: 0;
        margin: 4px 0;
        border-top: var(--pf-border-500);
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
            color: var(--pf-fg-link-hover);
        }
    }

    .rx-scroll-area {
        /* fix needed because dropdowns are portal based */
        max-height: calc(var(--dd-max-height) - 2 * var(--dd-padding));
    }
}

.rx-dialog-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    z-index: 100;

    &[data-state="open"] {
        animation: fadeIn var(--dialog-fade-duration);
    }

    &[data-state="closed"] {
        animation: fadeOut var(--dialog-fade-duration);
    }
}

.rx-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--pf-bg-900);
    width: 425px;
    padding: 20px;
    height: fit-content;
    max-height: 85vh;
    overflow-y: auto;
    border: var(--pf-border-700);
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    position: fixed;
    top: 50%;
    left: 50%;
    will-change: transform, opacity;
    transform: translate(-50%, -50%);
    z-index: 101;

    &[data-state="open"] {
        animation: dialogShow var(--dialog-fade-duration);
    }

    &[data-state="closed"] {
        animation: dialogHide var(--dialog-fade-duration);
    }

    h2 {
        font-size: 18px;
        margin-bottom: 12px;
        text-align: center;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }

    fieldset {
        display: flex;
        flex-direction: column;

        label {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        small {
            color: var(--pf-fg-500);
            font-size: 12px;
            font-weight: normal;
        }

        input,
        select {
            border-radius: 6px;
            border: var(--pf-border-700);
            padding: 8px;
            font-size: 16px;

            &:focus {
                outline: none;
                border-color: var(--pf-border-color-primary);
                transition-duration: 0.2s;
            }
        }
    }

    .rx-dialog-footer {
        display: flex;
        margin-top: 16px;
        justify-content: flex-end;
        gap: 16px;
    }
}

.rx-avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    user-select: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: var(--pf-border-700);

    & span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--pf-bg-500);
        color: var(--pf-fg-500);
        font-size: 28px;
        padding: 0;
        line-height: 1;
        font-weight: 500;
    }
}

.rx-radio-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    label {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 14px;
        color: #ddd;
        font-weight: 500;
    }
    button[role="radio"] {
        background-color: inherit;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid var(--pf-fg-700);
        &[data-state="checked"] {
            border: 4px solid var(--pf-btn-primary);
            background-color: #fff;
        }
        &:focus-visible {
            outline: 2px solid var(--pf-btn-primary);
            outline-offset: 1px;
        }
    }
}

.rx-scroll-area {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow: hidden;

    .rx-scroll-viewport {
        /* the radix viewport div is display: table, caused horizontal overflow */
        display: block !important;
        max-width: 100%;
    }
    .rx-scrollbar {
        max-height: inherit;
        width: 8px;
        padding: 0 2px;
        user-select: none;
        &:hover {
            padding: 0;
        }
        .rx-scroll-thumb {
            background-color: var(--pf-fg-700);
            border-radius: 4px;
        }
        &:active .rx-scroll-thumb {
            background-color: var(--pf-fg-900);
        }
    }
}

.rx-select-trigger {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: var(--pf-border-300);
    background-color: var(--pf-bg-300);
    padding: 0 15px;
    font-size: 14px;
    color: var(--pf-fg-100);
    line-height: 1;
    height: 32px;
    gap: 5px;
    cursor: default;

    svg {
        color: var(--pf-fg-500);
        font-size: 16px;
    }

    &:hover {
        background-color: var(--pf-bg-200);
    }
    &[data-state="open"] {
        background-color: var(--pf-bg-300);
    }
}
.rx-select-content {
    max-height: 500px;
    min-width: 150px;
    max-width: 300px;
    overflow-y: hidden;
    background-color: var(--pf-bg-700);
    border: var(--pf-border-700);
    border-radius: 8px;
    padding: 4px;

    div[role="option"] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        color: var(--pf-fg-200);
        height: 32px;
        padding: 0 12px;
        border-radius: 4px;
        user-select: none;

        &:hover,
        &:focus {
            background-color: var(--pf-bg-300);
        }

        .item-indicator {
            color: var(--pf-fg-200);
            font-size: 16px;
        }

        &:has(.item-indicator) {
            color: #fff;
        }

        & > * {
            /* ItemText className seems to not work */
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }
    }
}

.dialog-hidden {
    opacity: 0;
    pointer-events: none;
}

.rx-toggle-group {
    display: flex;
    width: 100%;
    margin-top: 4px;
    button {
        width: 100%;
        height: 24px;
        border: var(--pf-border-500);
        font-size: 12px;
        color: var(--pf-fg-500);
        background-color: var(--pf-bg-500);

        &[data-state="on"] {
            color: var(--pf-fg-100);
            background-color: var(--pf-bg-300);
            border: var(--pf-border-300);
        }

        &[disabled=""] {
            background-color: var(--pf-bg-700);
            color: var(--pf-fg-900);
            cursor: auto;
        }
        &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes dialogShow {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes dialogHide {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}
