input {
    box-shadow: none !important;
    background: none;
    font-size: inherit;
}

textarea {
    font-size: inherit;
}

a {
    color: var(--pf-fg-link);
    &:hover {
        color: var(--pf-fg-link-hover);
    }
}

button {
    cursor: pointer;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;

    label {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    small {
        color: var(--pf-fg-500);
        font-size: 12px;
        font-weight: normal;
    }

    input,
    select {
        border-radius: 6px;
        border: var(--pf-border-700);
        padding: 8px;
        font-size: 16px;

        &:focus {
            outline: none;
            border-color: var(--pf-border-color-primary);
            transition-duration: 0.2s;
        }
    }
}

.toast-notification {
    border: var(--pf-border-700);
    border-width: 2px;
    font-size: 16px;
    border-radius: 12px;
}

.separator {
    height: 0;
    flex-shrink: 0;
    border-top: var(--pf-border-500);
}

.separator-vertical {
    width: 0;
    flex-shrink: 0;
    border-left: var(--pf-border-500);
}

.ui-card {
    max-width: var(--ui-card-width);
    min-width: var(--ui-card-width);
    height: fit-content;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--pf-bg-900);
    border: var(--pf-border-500);
    border-radius: var(--ui-card-border-radius);
    padding: 12px;
    overflow: hidden;

    .ui-card-header {
        background-color: inherit;
        margin-bottom: 8px;
        height: 30px;

        h4 {
            font-size: 20px;
            font-weight: bold;
            color: var(--pf-fg-500);
            text-align: center;
            margin: 0;
            line-height: 1;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
    }

    .separator {
        margin: 12px;
    }
}

.spacer {
    margin-bottom: 16px;
}

.centered-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.reminder-editor {
    gap: 12px;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.5);

    .date-input {
        border: var(--pf-border-300);
        padding: 6px;
        border-radius: 8px;
        width: fit-content;
    }

    textarea {
        border: var(--pf-border-300);
        padding: 6px;
        border-radius: 8px;
        background: none;
        resize: vertical;
    }
}

.toggle-option {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
    color: var(--pf-fg-100);
}

input[type="checkbox"] {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    color: var(--pf-fg-100);
}

.loading-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.dialog-callout {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: var(--pf-bg-700);
    border: var(--pf-border-700);
    border-radius: 16px;
    padding: 16px;

    ol {
        padding-left: 4px;
        list-style-position: inside;
    }

    &.info {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: none;
        border-left: 4px solid hsl(var(--hsl-base-btn-primary) 60%);
        gap: 8px;
        padding: 8px;

        p {
            color: var(--pf-fg-500);
        }

        .info-icon {
            margin: 0;
            height: 24px;
            width: 24px;
            font-size: 16px;
            color: var(--pf-fg-link);
            border: 2px solid var(--pf-fg-link);
        }
    }
}
