.contact-links {
    height: 100%;
    width: 100%;
    flex-grow: 1;

    & > *:not(h2) {
        margin-left: 0.5rem;
        font-size: 1rem;
    }
    h2 {
        margin-top: 1.5rem;
    }
}
