#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui;
}

.sticky-header {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--pf-bg-500);
    border-bottom: var(--pf-border-500);

    .header-content {
        height: 52px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header-left,
    .header-right {
        display: flex;
    }
    .nav-links {
        margin-left: 24px;
    }
}

.home-container {
    width: 1120px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 24px;

    a {
        font-size: 14px;
        text-decoration: none;
        color: var(--pf-fg-200);
    }
}

.home-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 128px;

        .hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 24px;
            max-width: 550px;

            h1 {
                font-size: 48px;
            }
            p {
                font-size: 24px;
                color: var(--pf-fg-100);
            }
        }
    }

    .home-footer {
        padding-top: 128px;
        padding-bottom: 32px;
    }
}

.open-playfrens {
    text-decoration: none;
    button {
        font-weight: bold;
        height: 36px;
        padding: 0 16px;
        border-radius: 16px;
        font-size: 16px;
        color: #fff;
        background-color: hsl(215 98% 44%);

        &:hover,
        &:focus,
        &:active {
            background-color: hsl(215 98% 36%);
            color: var(--pf-fg-050);
        }
    }

    &.main-action button {
        margin-top: 24px;
        height: 48px;
        padding: 0 48px;
        border-radius: 12px;
    }
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 900px;
    border: 4px dashed var(--pf-fg-500);
    border-radius: 24px;
    font-size: 24px;
}
