#home {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui;
    background-color: var(--pf-bg-700);
    overflow-x: auto;
}

.sticky-header {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: inherit;
    border-bottom: var(--pf-border-500);
    z-index: 1;

    .header-content {
        height: 52px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header-left,
    .header-right {
        display: flex;
    }
    .nav-links {
        margin-left: 24px;
    }
}

@media (max-width: 600px) {
    .header-right .open-playfrens {
        display: none;
    }
}

.home-container {
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
    padding: 0 16px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 24px;

    a {
        font-size: 14px;
        text-decoration: none;
        color: var(--pf-fg-200);
        padding: 6px;
        border: none;
        border-radius: 6px;
        background-color: transparent;
        transition: 0.1s;

        &:hover,
        &:active {
            color: #fff;
            background-color: var(--pf-bg-300);
        }
    }
}

.home-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 64px;

        .hero {
            width: 100%;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: clamp(32px, 9.6vw, 48px);
            }
            p {
                font-size: clamp(16px, 4.8vw, 24px);
                color: var(--pf-fg-100);
                max-width: 550px;
            }
        }

        .topics {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: min(128px, 12vw);
            row-gap: 64px;

            h2 {
                font-size: clamp(18px, 5.4vw, 27px);
            }
            p {
                font-size: clamp(12px, 3.6vw, 18px);
                color: var(--pf-fg-100);
            }
        }
    }

    .home-footer {
        padding-top: 96px;
        padding-bottom: 32px;
    }
}

.open-playfrens {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: fit-content;
    text-wrap: nowrap;
    padding: 0 16px;
    border-radius: 16px;
    background-color: hsl(215 98% 44%);

    color: #fff;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    text-decoration: none;

    &:hover,
    &:active {
        background-color: hsl(215 98% 36%);
        color: var(--pf-fg-050);
    }

    &.main-action {
        margin-top: 24px;
        height: 52px;
        padding: 0 32px;
        border-radius: 12px;
    }
}

.media-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1.5;
    min-width: 100%;
    border: 4px dashed var(--pf-fg-500);
    border-radius: 24px;
    font-size: 24px;
}
