#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
