#login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login .app-brand {
    position: absolute;
    top: 32px;
    left: 32px;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.login-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pf-bg-900);
    height: 400px;
    width: 400px;
    border-radius: 12px;
    padding: 36px;
    box-shadow: 8px 8px hsl(215 98% 42%);

    .btn {
        width: 256px;
        height: 48px;
        font-size: 18px;
        justify-content: left;
        gap: 8px;
        border-radius: 12px;

        svg {
            font-size: 36px;
        }
    }

    .login-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            color: var(--pf-fg-300);
            font-size: 16px;
        }
    }
    .continue-with {
        display: flex;
        flex-direction: row;
        /*align-items: center;*/
        justify-content: center;
        font-size: 22px;
        gap: 16px;
        /*font-style: italic;*/
        /*color: var(--pf-fg-300);*/
    }
    .auth-buttons {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .login-footer {
        width: 100%;
        display: flex;
        gap: 24px;
        align-items: end;
        justify-content: left;
        a {
            color: var(--pf-fg-500);
            cursor: pointer;
        }
    }
}
