#login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login .app-brand {
    position: absolute;
    top: 32px;
    left: 32px;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.btn {
    width: 256px;
    height: 48px;
    font-size: 18px;
    justify-content: left;
    gap: 8px;
    border-radius: 12px;
    position: relative;
    overflow: visible;

    svg {
        font-size: 36px;
    }

    &.last-auth::after {
        content: "Last used";
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(25%, -25%);
        background-color: var(--pf-btn-primary-hover);
        padding: 2px 4px;
        border-radius: 8px;
        font-size: 12px;
    }
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.login-footer {
    width: 100%;
    display: flex;
    gap: 24px;
    align-items: end;
    justify-content: left;
    a {
        color: var(--pf-fg-500);
        cursor: pointer;
        text-decoration: none;
    }
}
