.icon-button {
    height: var(--icon-size);
    width: var(--icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--pf-fg-100);
    background: none;
    border: none;
    outline: none;

    &:hover, &:active, &:focus {
        background: none;
        color: #fff;
        cursor: pointer;
    }


    svg path:first-of-type {
        /* hides the outer edge outline made when applying a stroke to MdIcons */
        opacity: 0;
    }
}

.sidebar-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 16px;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: var(--pf-bg-900);
    overflow: hidden;
}

.sidebar-header {
    width: 100%;
    display: grid;
    grid-template-columns: var(--icon-size) 1fr var(--icon-size);
    align-items: center;
}

.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--pf-fg-100);
    text-align: center;
    margin: 0;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-buttons-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-button {
    background: none;
    text-align: start;
    font-size: 18px;
    border: none;
    margin: 2px 12px;
    padding: 4px 12px;
    border-radius: 15px;
    transition: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon-button { /* menu button */
        color: #fff;
        visibility: hidden;
        border-radius: 6px;

        &:hover {
            background-color: #1a1a1e33;
        }
    }

    &:hover .icon-button {
        visibility: visible;
    }

    &.active .icon-button {
        visibility: visible;
        background-color: #1a1a1e33;
    }
}

.btn-check:checked + .sidebar-button {
    font-weight: 500;
}