.cover-skeleton {
    width: 100%;
    aspect-ratio: 1 / 1.5;
    display: flex;
    background-color: hsl(var(--hsl-base-bg) 100%);
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 0.12;
    }
    50% {
        opacity: 0.06;
    }
}
