.games-grid-container {
    width: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    padding: 30px calc(30px - var(--scrollbar-width));
}
.games-grid {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    column-gap: 20px;
    /* column-gap is the minimum, actual gap determined by space-between */
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, var(--game-card-width));
}

.game-card-grid-cell {
    /* Needed to keep the grid cell sizes correct with the card sizes scaling */
    width: var(--game-card-width);
    height: calc(var(--game-card-width) * 1.5);
}

.game-card {
    --scale-up: 1.05;
    position: relative;
    overflow: hidden; /* for the overlay */
    width: 100%;
    aspect-ratio: 1 / 1.5;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: var(--game-card-border-radius);
    background-color: transparent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    outline: 2px solid transparent; /* for highlighting on tag hover */
    transition:
        0.3s ease,
        outline 0.3s ease 0.1s;

    &:active,
    &:focus {
        outline: 5px solid transparent !important; /* fixes outline flash on click */
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        transition: filter 0.3s ease 0.2s;
    }

    .filtered-parties-badge {
        position: absolute;
        bottom: 4px;
        left: 4px;
        font-size: 22px;
        font-weight: bold;
        background-color: var(--pf-btn-primary-hover);
        border-radius: 12px;
        padding: 2px 6px;
        border: 1px solid var(--pf-btn-primary);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        text-rendering: optimizeLegibility;
    }

    .game-card-title-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0));
        color: #fff;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        font-family: sans-serif;
        opacity: 0;
        transition: 0.3s ease;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        -webkit-text-stroke: 4px rgba(0, 0, 0, 0.66);
        paint-order: stroke fill;
        text-rendering: optimizeLegibility;
    }

    &:hover,
    &.doesnt-have-dragged-tag.dragged-over {
        transform: scale(var(--scale-up));
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.6);
        z-index: 1;

        .game-card-title-overlay {
            opacity: 1;
        }
    }
    &.highlight {
        outline: 5px solid var(--pf-border-color-primary);
        box-shadow: 0 0 12px 5px var(--pf-fg-link);
        transition:
            outline 0.3s ease 0.8s,
            box-shadow 0.3s ease 0.8s; /* delay on appearance, not disappearance */
    }
    &.darken img {
        filter: brightness(0.5) grayscale(1);
        transition: filter 0.3s ease 0.8s; /* longer delay on appearance */
    }
    .drag-indicator {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 64px;
        height: 64px;
        color: var(--pf-fg-link);
        filter: drop-shadow(0 0 1px black) drop-shadow(0 0 3px var(--pf-btn-primary));
        border-radius: 50%;
        transition: 0.3s ease;
        pointer-events: none;
    }

    &.doesnt-have-dragged-tag {
        img {
            filter: brightness(0.5) grayscale(1);
            transition: none;
        }
        .drag-indicator {
            opacity: 0.75;
        }
        &.dragged-over {
            img {
                filter: brightness(0.75) grayscale(0.33);
                transition: 0.3s;
            }
            .drag-indicator {
                opacity: 1;
                width: 72px;
                height: 72px;
                filter: drop-shadow(0 0 1px black) drop-shadow(0 0 8px var(--pf-btn-primary));
                color: var(--pf-fg-link);
                transition: 0.3s ease;
            }
        }
    }

    &:has(.cover-skeleton) {
        box-shadow: none;
        .game-card-title-overlay {
            opacity: 1; /* While cover is loading, show the title */
        }
    }
}

@supports (-moz-animation: none) {
    /*Firefox-only overrides. Scale down instead so that hover scales up to 100%, to fix text and image rendering */
    .game-card {
        width: calc(var(--game-card-width) * var(--scale-up)) !important;
        transform: scale(calc(1 / var(--scale-up)));
        --transform-translated-x: calc(var(--game-card-width) * (1 - var(--scale-up)) / 2);
        margin-left: var(--transform-translated-x);
        margin-top: calc(var(--transform-translated-x) * 1.5);

        &:hover,
        &.doesnt-have-dragged-tag.dragged-over {
            transform: scale(1);
        }
    }
}

.empty-grid-placeholder {
    width: 100%;
    padding-right: calc(var(--ui-card-width) + 12px);
    /* padding-right equal to the sidebar's width. This centers the element in the screen, right under the search bar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    svg {
        font-size: 28px;
        color: var(--pf-fg-700);
    }

    p {
        font-size: 24px;
        font-style: italic;
        color: var(--pf-fg-700);
    }
}
