.games-grid {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    column-gap: 20px;
    /* column-gap is the minimum, actual gap determined by space-between */
    row-gap: 30px;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, var(--game-card-width));
}

.game-card {
    width: 100%;
    aspect-ratio: 1 / 1.5;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
    transition: 0.3s ease;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .game-card-title-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        color: #fff;
        padding: 10px 0;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        opacity: 0;
        transition: 0.3s ease;
        --stroke-color: #000000aa; /* for text-stroke */
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 15px 22px rgba(0, 0, 0, 0.6);
        z-index: 1;

        .game-card-title-overlay {
            opacity: 1;
        }
    }
}

/* is implemented as a separate element from the modal itself */
.modal-backdrop {
    transition: 0.2s opacity;

    &.show {
        opacity: 0.7;
    }
}

/* Playfrens Modal - shortened to PFM */
/* '.modal' classes alter Bootstrap Modal properties */
.playfrens-modal {
    .modal-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: none;
        border: none;
        pointer-events: none;

        * {
            pointer-events: auto;
        }
    }

    .modal-dialog {
        --bs-modal-width: 100%;
        background: none;
    }

    .pfm-card {
        width: var(--pfm-card-width);
        height: calc(var(--pfm-card-width) * 1.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
        border: none;
        border-radius: 20px;
        --bg-url: url('/public/missing_game_cover.png');

        .pfm-card-bg {
            position: absolute;
            width: var(--pfm-card-width);
            height: calc(var(--pfm-card-width) * 1.5);
            background-size: cover;
            background-position: center;
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--bg-url);


            &.layer1 {
                z-index: -2;
                filter: blur(5px);
                transform: scale(1.01);
            }

            &.layer2 {
                z-index: -1;
                filter: blur(10px);
            }
        }
    }

    .pfm-header {
        width: 100%;
        display: grid;
        grid-template-columns: var(--icon-size) 1fr var(--icon-size);
        align-items: center;
        border: 1px solid transparent;
        padding: 16px;

        .pfm-title {
            font-size: 24px;
            padding: 0 10px;
            color: #fff;
            margin: 0;
            line-height: 1;
            text-align: center;
            font-weight: bold;
            --stroke-color: #333; /* for text-stroke */
        }
    }

    .pfm-body {
        display: flex;
        flex-direction: column;
        margin: 42px;
        height: 100%;
        justify-content: end;
    }

    .pfm-sidebar {
        width: var(--sidebar-width);
        height: calc(var(--pfm-card-width) * 1.5);
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 10px;
        z-index: 2;
        pointer-events: none;
    }

    .pfm-shadow {
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    }

    .pfm-sidebar-button:hover {
        --bs-btn-active-bg: none;
        background: none;
        outline: 1px solid #80848e;
        color: #fff;
    }
}

.game-note {
    width: 100%;
    flex-shrink: 1;
    background-color: var(--pf-bg-900);
    right: 0;
    left: 0;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 20px;
    resize: vertical;

    &:focus {
        outline: 1px solid #666;
        outline-offset: -1px;
    }
}
