.cover-skeleton {
    width: 100%;
    aspect-ratio: 1 / 1.5;
    position: absolute;
    inset: 0;
    display: flex;
    background-color: hsl(var(--hsl-base-bg) 100%);
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 0.12;
    }
    50% {
        opacity: 0.06;
    }
}

/* might be img, might be video */
.game-cover-display {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
