.games-grid {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    column-gap: 20px;
    /* column-gap is the minimum, actual gap determined by space-between */
    row-gap: 30px;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, var(--game-card-width));
}

.game-card {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    transition: 0.3s ease;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .game-card-title-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        color: #fff;
        padding: 10px 0;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        opacity: 0;
        transition: 0.3s ease;
        --stroke-color: #000000aa; /* for text-stroke */
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.6);
        z-index: 1;

        .game-card-title-overlay {
            opacity: 1;
        }
    }
}