.reminder {
    border-radius: 12px;
    padding: 8px;

    &:hover,
    &:active {
        background-color: var(--pf-bg-500);
    }

    label {
        color: hsl(215 60% 60%);
        font-weight: 500;
    }
    p {
        padding: 0 8px;
        color: var(--pf-fg-200);
    }

    &.activated {
        font-size: 14px;
        background-color: var(--pf-bg-300);

        &:hover,
        &:active {
            background-color: var(--pf-bg-200);
        }

        label {
            color: hsl(50 98% 71%);
            font-weight: bold;
        }
        p {
            color: white;
        }
    }
}
