.tag-button-group {
    width: 100%;
    min-height: 164px; /* meant to fit 3 buttons */
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;

    &:first-child {
        flex-shrink: 1000;
        flex-grow: 1000;
    }

    .tag-button-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        scrollbar-gutter: stable both-edges;
        gap: 4px;
        padding: 0 calc(12px - var(--scrollbar-width));
    }
}

.sidebar-popover-content {
    display: flex;
    flex-direction: column;
    min-width: var(--ui-card-width);
    width: fit-content;
    max-width: 500px;
    padding: 16px 20px;
    border-radius: 8px;
    background-color: var(--pf-bg-500);
    border: var(--pf-border-300);
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 1);
    z-index: 2; /* stay above hovered game cards */
    gap: 4px;
    --select-width: 250px;

    .popover-close {
        position: absolute;
        right: 12px;
        top: 12px;
    }

    p {
        color: var(--pf-fg-200);
        font-size: 14px;
    }

    .rx-select-trigger {
        width: var(--select-width);
        max-width: var(--select-width);
    }
    .rx-select-content {
        width: var(--select-width);
    }

    .rx-toggle-group {
        width: var(--select-width);
    }
}
