.tag-button-group {
    width: 100%;
    min-height: 164px; /* meant to fit 3 buttons */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;

    &:first-child {
        flex-shrink: 1000;
        flex-grow: 1000;
    }

    .tag-button-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 0 12px;
    }
}

.sidebar-popover-content {
    display: flex;
    flex-direction: column;
    min-width: var(--ui-card-width);
    width: fit-content;
    max-width: 500px;
    padding: 28px 20px 20px 20px;
    border-radius: 8px;
    background-color: var(--pf-bg-700);
    border: 2px solid var(--pf-bg-100);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    z-index: 2; /* stay above hovered game cards */
    gap: 8px;

    .popover-close {
        position: absolute;
        right: 4px;
        top: 4px;
    }

    p {
        color: var(--pf-fg-200);
        font-size: 14px;
    }
}
