.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    width: fit-content;
    padding: 4px 8px;
    min-height: 36px;
    height: fit-content;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.15s ease-in-out;

    --pf-btn: var(--pf-btn-primary);
    --pf-btn-hover: var(--pf-btn-primary-hover);
    --pf-btn-active: var(--pf-btn-primary-active);
    background-color: var(--pf-btn);

    &:hover {
        background-color: var(--pf-btn-hover);
    }

    &:active {
        background-color: var(--pf-btn-active);
    }

    &.btn-primary {
        --pf-btn: var(--pf-btn-primary);
        --pf-btn-hover: var(--pf-btn-primary-hover);
        --pf-btn-active: var(--pf-btn-primary-active);
    }

    &.btn-secondary {
        --pf-btn: var(--pf-btn-secondary);
        --pf-btn-hover: var(--pf-btn-secondary-hover);
        --pf-btn-active: var(--pf-btn-secondary-active);
    }

    &.btn-danger {
        --pf-btn: var(--pf-btn-danger);
        --pf-btn-hover: var(--pf-btn-danger-hover);
        --pf-btn-active: var(--pf-btn-danger-active);
    }
}
