.center-and-edges-row {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    & > * {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        max-width: 100%;
    }

    & > :nth-child(1) {
        justify-self: left;
    }

    & > :nth-child(2) {
        justify-self: center;
    }

    & > :nth-child(3) {
        justify-self: right;
    }
}
