.setting {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;

    h3 {
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        color: #f2f2f2;
    }
    .setting-reset {
        --icon-size: 26px;
        display: inline-flex;
        vertical-align: middle;
        margin-left: 6px;
        font-size: 20px;
        transition: none;

        svg {
            transform: scaleX(-1);
        }

        &.setting-reset-hidden {
            visibility: hidden; /* so it doesn't nudge */
        }
    }
    p {
        font-size: 14px;
        color: var(--pf-fg-400);
    }
    & > *:not(h3) {
        margin-left: 8px;
    }
}
