.app-header {
    background-color: var(--pf-bg-900);
    padding: 0 16px;
    height: var(--app-header-height);
    position: fixed;
    border-bottom: var(--pf-border-500);
    z-index: 2;
}

.app-brand {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 8px;
    margin-left: 16px;
    user-select: none;
}

#main-content {
    height: 100vh;
    padding-top: var(--app-header-height); /* included in 100vh */
    display: flex;
}

.game-search {
    border-radius: 16px;
    border: var(--pf-border-500);
    height: 36px;
    width: 300px;
    box-sizing: border-box;

    &::placeholder {
        color: var(--pf-fg-500);
    }

    &:focus {
        border-color: var(--pf-border-color-primary);
    }

    &.has-value {
        border: 2px solid var(--pf-btn-primary);
    }
}

.new-game-button {
    margin: 0 16px 0 auto;
    height: 36px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pf-fg-300);
    background-color: var(--pf-bg-500);
    border-radius: 16px;
    border: var(--pf-border-700);
    gap: 4px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 500;

    svg {
        font-size: 26px;
    }

    &:hover {
        color: #fff;
        background-color: var(--pf-bg-300);
    }
}
