#root {
    margin: 0 auto;
    text-align: center;
}

.content-body {
    background-color: #2b2d31;
    padding: 56px 0 0 0; /* 56px compensates for navbar height */
    height: 100vh;
    width: 100vw;
}

.sidebar {
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.sidebar-card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 1rem;
    border-radius: 20px;
    background-color: #1e1f22;
}

.sidebar-card:first-child {
    max-height: 50%;
}

.sidebar-card:last-child {
    height: 100%;
    overflow: auto;
}

.sidebar-buttons-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    color: #777b84;
    padding: 0;
    margin: 0 0 10px;
}

.sidebar-button {
    background: none;
    text-align: start;
    font-size: 18px;
    border: none;
    margin: 2px 0;
    border-radius: 15px;
}
