.app-brand {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 8px;
    user-select: none;
    font-weight: bold;
    img {
        height: 30px;
        width: 30px;
    }
}

#main-content {
    height: 100vh;
    padding-top: var(--app-header-height); /* included in 100vh */
    display: flex;
}
