.app-header {
    background-color: var(--pf-bg-900);
    padding-right: 12px;
    padding-left: 12px;
    height: 56px;
}

#main-content {
    height: 100vh;
    padding-top: 56px; /* compensates for navbar height, included in 100vh */
    display: flex;
}

.app-sidebar {
    max-width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    /*0 margin on the sidebar-right, for an exact gap with the grid*/
    margin: 10px 0 10px 10px;
    gap: 10px;
}
