.game-card {
    width: 100%;
    aspect-ratio: 1 / 1.5;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
    transition: 0.3s ease;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 22px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.games-grid {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-auto-flow: row;
    justify-content: space-between;
    grid-gap: 30px;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, 245px);
}

.pf-modal {
    .modal-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: none;
        border: none;
        pointer-events: none;

        * {
            pointer-events: auto;
        }
    }

    .modal-header, .modal-footer {
        border: none;
    }

    .modal-dialog {
        --bs-modal-width: 1220px;
        background: none;
    }

    .modal-card {
        width: 600px;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin: 0 10px;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
        border: none;
        border-radius: 8px;
    }

    .modal-card-bg {
        position: absolute;
        height: 900px;
        width: 600px;
        background-size: cover;
        background-position: center;
        --bg-url: url('/public/cards/missing_image.png');
        background-image: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), var(--bg-url);
    }

    .modal-sidebar {
        width: 300px;
        height: 900px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 2;
        pointer-events: none;
    }

    .sidebar-group {
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    }
}

.modal-backdrop {
    --bs-backdrop-opacity: 0.7;
    transition: 0.2s opacity;
}

.modal-list {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 1rem;
    border-radius: 20px;
}

.modal-list-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
}

.title-and-adder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-note {
    resize: vertical;
    margin: 20px 40px;
    flex-shrink: 1;
    background: none;
    border: 1px solid var(--pf-fg-100);
    border-radius: 8px;
    right: 0;
    left: 0;
    width: 100%;
}

.game-note:focus {
    outline: 1px solid var(--pf-fg-100);
}

.modal-sidebar-button:hover {
    --bs-btn-active-bg: none;
    background: none;
    outline: 1px solid #80848e;
    color: #fff;
}