@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    color-scheme: dark;

    --pf-bg-900: #121214;
    --pf-bg-700: #1a1a1e;
    --pf-bg-500: #202024;
    --pf-bg-300: #2e2e33;
    --pf-fg-100: #aeaeb4;

    --sidebar-width: 250px;
    --game-card-width: 210px;
    --pfm-card-width: 500px;
    --icon-size: 30px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    --bs-modal-bg: var(--pf-bg-700);
    box-sizing: border-box;
    scrollbar-width: thin;
}

html, body {
    height: 100%;
    background-color: var(--pf-bg-500);
    color: #fff;

    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropdown-menu {
    max-height: 495px;
    overflow-y: auto;
    background-color: var(--pf-bg-700);
    border-radius: 12px;
    padding: 6px 0;
}

.dropdown-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 36px;
    padding: 6px 14px;
    border-radius: 4px;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;

    &[data-disabled] {
        color: grey;
        cursor: inherit;

        &:hover {
            background-color: transparent;
        }
    }

    &:hover {
        background-color: var(--pf-bg-300);
    }

    &:active {
        background-color: var(--bs-dropdown-link-active-bg);
    }

    & .dropdown-item-icon {
        font-size: 20px;
        margin-right: 8px;
        margin-left: -6px;
    }

    &.danger-item {
        color: #fc7975;

        &:hover {
            background-color: #39292d;
        }

        &:active {
            background-color: #ad3c3c;
            color: #dee2e6;
        }
    }
}

input {
    box-shadow: none !important;
    --bs-body-bg: var(--pf-bg-700);
}

.icon-button {
    height: var(--icon-size);
    width: var(--icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--pf-fg-100);
    background: none;
    border-radius: 50%;
    border: none;
    outline: none;

    &:hover, &:active, &:focus {
        background: none;
        color: #fff;
        cursor: pointer;
    }

    svg path:first-of-type {
        /* hides the outer edge outline made when applying a stroke to MdIcons */
        opacity: 0;
    }
}

.text-stroke-1px {
    --stroke-color_: var(--stroke-color, #000);
    text-shadow: -1px -1px 0 var(--stroke-color_),
    1px -1px 0 var(--stroke-color_),
    -1px 1px 0 var(--stroke-color_),
    1px 1px 0 var(--stroke-color_);
}

.text-stroke-2px {
    --stroke-color_: var(--stroke-color, #000);
    text-shadow: -2px -2px 0 var(--stroke-color_),
    2px -2px 0 var(--stroke-color_),
    -2px 2px 0 var(--stroke-color_),
    2px 2px 0 var(--stroke-color_);
}