@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    color-scheme: dark;

    --pf-bg-900: #121214;
    --pf-bg-800: #161619;
    --pf-bg-700: #1a1a1e;
    --pf-bg-600: #1d1d23;
    --pf-bg-500: #202026;
    --pf-bg-400: #28282c;
    --pf-bg-300: #2e2e33;
    --pf-bg-200: #34343a;
    --pf-bg-100: #3c3c46;
    --pf-fg-100: #aeaeb4;

    --sidebar-width: 275px;
    --game-card-width: 210px;
    --game-card-border-radius: 0;
    --pfm-card-width: 450px;
    --icon-size: 30px;
    --modal-fade-duration: 250ms;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

html,
body {
    height: 100%;
    background-color: var(--pf-bg-500);
    color: #fff;

    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    box-shadow: none !important;
    --bs-body-bg: none;
    background: none;
}

button {
    border-radius: 8px;
    width: 80px;
    font-size: 16px;
}

.icon-button {
    height: var(--icon-size);
    width: var(--icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--pf-fg-100);
    background: none;
    border-radius: 50%;
    border: none;
    outline: none;

    &:hover,
    &:active,
    &:focus {
        background: none;
        color: #fff;
        cursor: pointer;
    }

    svg path:first-of-type {
        /* hides the outer edge outline made when applying a stroke to MdIcons */
        opacity: 0;
    }
}

.toast-notification {
    border: 1px solid #333;
}
