@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "react-toastify/dist/ReactToastify.css";
@import "@/styles/radix-overrides.css";
@import "@/styles/ui-elements.css";

:root {
    --app-header-height: 56px;
    --app-header-element-height: 36px;
    --ui-card-width: 275px;
    --ui-card-border-radius: 20px;
    --game-card-width: 210px; /* for the game cards in the grid */
    --game-card-border-radius: 0;
    --icon-size: 30px; /* for icon buttons like ⋮ or + */
    --dialog-fade-duration: 250ms;

    color-scheme: dark;

    --hsl-base-bg: 240 7%;
    --pf-bg-900: hsl(var(--hsl-base-bg) 6%);
    --pf-bg-700: hsl(var(--hsl-base-bg) 9%);
    --pf-bg-500: hsl(var(--hsl-base-bg) 12%);
    --pf-bg-300: hsl(var(--hsl-base-bg) 18%);
    --pf-bg-200: hsl(var(--hsl-base-bg) 24%);
    --pf-bg-100: hsl(var(--hsl-base-bg) 30%);

    --pf-fg-900: hsl(var(--hsl-base-bg) 40%);
    --pf-fg-700: hsl(var(--hsl-base-bg) 50%);
    --pf-fg-500: hsl(var(--hsl-base-bg) 60%);
    --pf-fg-300: hsl(var(--hsl-base-bg) 75%);
    --pf-fg-200: hsl(var(--hsl-base-bg) 80%);

    --hsl-base-btn-primary: 215 98%;
    --pf-fg-link-hover: hsl(var(--hsl-base-btn-primary) 77%);
    --pf-fg-link: hsl(var(--hsl-base-btn-primary) 71%);
    --pf-btn-primary: hsl(var(--hsl-base-btn-primary) 52%);
    --pf-btn-primary-hover: hsl(var(--hsl-base-btn-primary) 44%);
    --pf-btn-primary-active: hsl(var(--hsl-base-btn-primary) 40%);
    --pf-btn-primary-darker: hsl(var(--hsl-base-btn-primary) 32%);

    --hsl-base-btn-secondary: 215 16%;
    --pf-btn-secondary: hsl(var(--hsl-base-btn-secondary) 20%);
    --pf-btn-secondary-hover: hsl(var(--hsl-base-btn-secondary) 26%);
    --pf-btn-secondary-active: hsl(var(--hsl-base-btn-secondary) 30%);

    --hsl-base-btn-danger: 354 70%;
    --pf-btn-danger: hsl(var(--hsl-base-btn-danger) 53%);
    --pf-btn-danger-hover: hsl(var(--hsl-base-btn-danger) 44%);
    --pf-btn-danger-active: hsl(var(--hsl-base-btn-danger) 40%);

    --hsl-hue-dd-danger: 354;
    --pf-dd-danger-hover: hsl(var(--hsl-hue-dd-danger) 24% 18%);
    --pf-dd-danger-active: hsl(var(--hsl-hue-dd-danger) 48% 45%);
    --pf-dd-danger-fg: hsl(var(--hsl-hue-dd-danger) 96% 72%);
    --pf-dd-danger-fg-active: hsl(var(--hsl-hue-dd-danger) 12% 88%);

    --pf-border-700: 1px solid hsl(var(--hsl-base-bg) 20%);
    --pf-border-500: 1px solid hsl(var(--hsl-base-bg) 24%);
    --pf-border-100: 1px solid hsl(var(--hsl-base-bg) 48%);
    --pf-border-color-primary: hsl(var(--hsl-base-btn-primary) 60%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    font-family: inherit;

    &:focus-visible {
        outline: 2px solid var(--pf-btn-primary);
        outline-offset: -2px;
        transition: none;
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }
}

html,
body {
    height: 100%;
    background-color: var(--pf-bg-500);
    color: #fff;

    font-family: "Roboto", sans-serif, system-ui;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
