/* radix dropdown menu */
.rx-dropdown-menu {
    display: block;
    max-height: 495px;
    min-width: 125px;
    overflow-y: auto;
    background-color: var(--pf-bg-700);
    border: 1px solid #333;
    border-radius: 12px;
    padding: 6px 0;

    div[role="menuitem"] {
        display: flex;
        align-items: center;
        font-size: 16px;
        height: 36px;
        padding: 6px 14px;
        border-radius: 4px;
        outline: none;
        border: none;
        user-select: none;
        cursor: pointer;

        &[data-disabled] {
            color: grey;
            cursor: inherit;

            &:hover, &:focus {
                background-color: transparent;
            }
        }

        &:hover, &:focus {
            background-color: var(--pf-bg-300);
        }

        &:active {
            background-color: #0d6efd;
        }

        & svg {
            font-size: 20px;
            margin-right: 8px;
            margin-left: -6px;
        }

        &[data-danger] {
            color: #fc7975;

            &:hover, &:focus {
                background-color: #39292d;
            }

            &:active {
                background-color: #ad3c3c;
                color: #dee2e6;
            }

            & svg {
                color: #fc7975;
            }
        }
    }
}

/* TODO: try using a css class instead of keyframes for less clutter */
@keyframes overlayShow {
    from {
        opacity: 0
    }
}

@keyframes overlayHide {
    to {
        opacity: 0
    }
}

.rx-dialog-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;

    &[data-state="closed"] {
        animation: overlayHide 250ms;
    }

    &[data-state="open"] {
        animation: overlayShow 250ms;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(-50px);
    }
}

@keyframes contentHide {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(-50px);
    }
}

.rx-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--pf-bg-700);
    width: 425px;
    padding: 20px;
    height: fit-content;
    max-height: 85vh;
    border: 1px solid #333;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &[data-state="open"] {
        animation: contentShow 250ms;
    }

    &[data-state="closed"] {
        animation: contentHide 250ms;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 12px;
    }

    h2 + p {
        color: #ddd;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 4px;

        label {
            font-size: 14px;
            font-weight: bold;
        }

        input, select {
            border-radius: 6px;
            border: 1px solid #333;
            padding: 8px;
            font-size: 16px;

            &:focus {
                outline: none;
                border-color: #69f;
                transition-duration: 0.2s;
            }
        }
    }

    .rx-dialog-footer {
        display: flex;
        margin-top: 16px;
        justify-content: flex-end;
        gap: 16px;
    }
}