/* radix dropdown menu */
.rx-dropdown-menu {
    display: block;
    max-height: 495px;
    min-width: 150px;
    overflow-y: auto;
    background-color: var(--pf-bg-700);
    border: var(--pf-border-700);
    border-radius: 8px;
    padding: 4px;
    z-index: 103;

    div[role="menuitem"] {
        display: flex;
        align-items: center;
        font-size: 16px;
        height: 36px;
        padding-left: 14px;
        border-radius: 4px;
        outline: none;
        border: none;
        user-select: none;
        cursor: pointer;

        &[data-disabled] {
            color: var(--pf-fg-700);
            cursor: inherit;

            &:hover,
            &:focus {
                background-color: inherit;
            }
        }

        &:hover,
        &:focus {
            background-color: var(--pf-bg-300);
            & a {
                text-decoration: underline;
            }
        }

        &:active {
            background-color: var(--pf-btn-primary);
        }

        .rx-dropdown-right-slot {
            margin-left: auto;
        }

        & svg {
            font-size: 20px;
            margin-right: 8px;
            margin-left: -6px;
        }

        &[data-danger] {
            color: var(--pf-dd-danger-fg);

            &:hover,
            &:focus {
                background-color: var(--pf-dd-danger-hover);
            }

            &:active {
                background-color: var(--pf-dd-danger-active);
                color: var(--pf-dd-danger-fg-active);
            }

            & svg {
                color: inherit;
            }
        }
        & a {
            color: inherit;
            text-decoration: none;
        }
    }

    div[role="separator"] {
        height: 0;
        flex-shrink: 0;
        margin: 4px 0;
        border-top: var(--pf-border-500);
    }
}

.rx-dialog-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    z-index: 100;

    &[data-state="open"] {
        animation: fadeIn var(--dialog-fade-duration);
    }

    &[data-state="closed"] {
        animation: fadeOut var(--dialog-fade-duration);
    }
}

.rx-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--pf-bg-900);
    width: 425px;
    padding: 20px;
    height: fit-content;
    max-height: 85vh;
    border: var(--pf-border-700);
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;

    &[data-state="open"] {
        animation: dialogShow var(--dialog-fade-duration);
    }

    &[data-state="closed"] {
        animation: dialogHide var(--dialog-fade-duration);
    }

    h2 {
        font-size: 18px;
        margin-bottom: 12px;
        text-align: center;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }

    fieldset {
        display: flex;
        flex-direction: column;

        label {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        small {
            color: var(--pf-fg-500);
            font-size: 12px;
            font-weight: normal;
        }

        input,
        select {
            border-radius: 6px;
            border: var(--pf-border-700);
            padding: 8px;
            font-size: 16px;

            &:focus {
                outline: none;
                border-color: var(--pf-border-color-primary);
                transition-duration: 0.2s;
            }
        }
    }

    .rx-dialog-footer {
        display: flex;
        margin-top: 16px;
        justify-content: flex-end;
        gap: 16px;
    }
}

.rx-avatar {
    display: inline-flex;
    background-color: red;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    user-select: none;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: var(--pf-border-700);

    & span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--pf-bg-500);
        color: var(--pf-fg-500);
        font-size: 28px;
        padding: 0;
        line-height: 1;
        font-weight: 500;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes dialogShow {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes dialogHide {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}
