.rx-dialog.edit-game-dialog {
    display: flex;
    flex-direction: column;
    width: 900px;
    max-width: 85vw;
    height: 825px; /* fits a little over two rows of covers, to indicate scrolling */
    max-height: 85vh;
    overflow: hidden;

    h2 {
        flex: 0 1 fit-content;
    }
    .edit-game-body {
        flex: 1 1 0;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .separator-vertical {
            margin: 0 20px; /* same as the dialog's padding */
        }

        .edit-game-fields {
            flex: 1;
            fieldset {
                height: 100%;
            }

            .title-and-toggle {
                display: flex;
                flex-direction: column;

                .rx-toggle-group button {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border: none;
                }

                input {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }

            .steam-import-informer {
                font-size: 16px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;
            }
        }
        .cover-art-selector {
            flex: 1;
            display: flex;
            flex-direction: column;
            --covers-gallery-padding: 16px; /* padding to give space for selection highlight */

            input {
                margin-bottom: 8px;
            }

            .covers-gallery {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
                padding: 16px calc(12px - var(--scrollbar-width));
                overflow-y: auto;
                scrollbar-gutter: stable both-edges;

                .cover-wrapper {
                    position: relative;
                    outline: 4px solid transparent;
                    outline-offset: -2px;
                    transition: 0.25s ease;

                    img,
                    video {
                        display: block;
                        width: 100%;
                        aspect-ratio: 1 / 1.5;
                    }

                    &.selected-cover {
                        outline: 4px solid var(--pf-border-color-primary);
                        box-shadow: 0 0 12px 2px var(--pf-fg-link);
                    }

                    &::before,
                    &::after {
                        position: absolute;
                        top: -4px;
                        font-weight: 500;
                        border-radius: 4px;
                        font-size: 12px;
                        padding: 1px 4px;
                    }
                    &.previous-cover::before {
                        content: "Previous selection";
                        left: 8px;
                        background-color: hsl(50 88% 40%);
                        border: 1px solid hsl(50 88% 50%);
                    }
                    &.official-cover::after {
                        content: "Official";
                        right: 8px;
                        background-color: hsl(215 88% 60%);
                        border: 1px solid hsl(215 88% 70%);
                    }
                }
            }
        }
    }

    .rx-dialog-footer {
        flex: 0 1 fit-content;
        justify-content: space-between;

        .inner-footer {
            display: flex;
            gap: 16px;
        }
    }
}
