.rx-dialog.edit-game-dialog {
    display: flex;
    flex-direction: column;
    width: 900px;
    max-width: 85vw;
    height: 100%;

    .edit-game-body {
        display: flex;
        flex-direction: row;
        gap: 20px; /* same as the dialog's padding */
        height: 100%;

        .edit-game-fields {
            width: 100%;

            .title-and-toggle {
                display: flex;
                flex-direction: column;

                .rx-toggle-group button {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border: none;
                }

                input {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }
        .cover-art-selector {
            width: 100%;
            height: 100%;
            max-height: calc(85vh - 130px); /* TODO: temp until scrollview -> overflow switch */
            display: flex;
            flex-direction: column;
            --covers-gallery-padding: 16px; /* padding to give space for selection highlight */

            input {
                margin-bottom: 8px;
            }

            .rx-scrollbar {
                /* scrollbar aligns with the start/end of the covers */
                padding-top: 16px;
                padding-bottom: 16px;
            }

            .covers-gallery {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
                padding: 16px 12px;

                img {
                    width: 100%;
                    outline: 4px solid transparent;
                    outline-offset: -2px;
                    transition: 0.25s ease;

                    &.selected-cover {
                        outline: 4px solid var(--pf-border-color-primary);
                        box-shadow: 0 0 12px 2px var(--pf-fg-link);
                    }
                }
            }
        }
    }

    .rx-dialog-footer {
        justify-content: space-between;

        .inner-footer {
            display: flex;
            gap: 16px;
        }
    }
}
